:root {
    font-size: 12px;
    font-family: Verdana, sans-serif;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald/Oswald-Regular.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    vertical-align: baseline;
}

#interface {
    display: block;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
}

#interface header.cabecalho {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url(../imagens/hero-bg.png);
    background-size: cover;
    color: #fafafa;
}

#interface .cabecalho .menu {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

#interface .cabecalho .logo {
    display: block;
    width: 150px;
}

#interface .cabecalho .logo img {
    display: block;
    width: 100%;
}

#interface .cabecalho .menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#interface .cabecalho .menu li {
    display: block;
    margin: 0 1rem;
}

#interface .cabecalho .menu li a {
    display: block;
    color: #fafafa;
    font-family: Oswald;
    font-size: 2rem;
    padding: .5rem 1rem;
    text-decoration: none;
}

#interface .cabecalho .menu li a::after {
    display: block;
    content: '';
    width: 0;
    height: 4px;
    background-color: #9941bf;
    border-radius: 1px;
    margin-top: .1rem;
    transition: width .2s ease;
}

#interface .cabecalho .menu li:hover a::after {
    width: 100%;
}

#interface .cabecalho .titles {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

#interface .cabecalho .titles .container-titles {
    width: 60%;
    margin: 0 0 0 auto;
}

#interface .cabecalho .titles .container-titles h1 {
    font-family: Montserrat;
}

#interface .cabecalho .titles .container-titles h1.titulo {
    font-size: 2.5rem;
}

#interface .cabecalho .titles .container-titles h1.subtitulo {
    color: #9941bf;
    text-shadow: 0 0 20px rgba(255, 255, 255, .3);
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

#interface .cabecalho .titles .container-titles p.paragrafo {
    letter-spacing: 2px;
    line-height: 1.5;
    font-style: italic;
}

#interface .cabecalho .titles .socialIcons {
    width: 60%;
    margin: 2rem 0 0 auto;
}

#interface .cabecalho .titles .socialIcons a {
    color: #9941bf;
    padding: .5rem;
    font-size: 1.2rem;
}