:root {
    font-size: 12px;
    font-family: Verdana, sans-serif;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald/Oswald-Regular.ttf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    vertical-align: baseline;
}

#interface {
    display: block;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    overflow-x: hidden ;

}

#interface header.cabecalho {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fafafa;
    height: 100%;
    background-image: url('../imagens/hero-bg.png');
    background-size: cover;

}

#interface .cabecalho .menu {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 1rem 0;
}

#interface .cabecalho .logo {
    display: block;
    width: 150px;

}

#interface .cabecalho .logo img {
    display: block;
    width: 100%;
}

#interface .cabecalho .menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#interface .cabecalho .menu li {
    display: block;
    margin: 0 1rem;
}

#interface .cabecalho .menu li a {
    display: block;
    color: #fafafa;
    font-family: Oswald;
    font-size: 2rem;
    padding: .5rem 1rem;
    text-decoration: none; 
}

#interface .cabecalho .menu li a::after {
    display: block;
    content: '';
    width: 0;
    height: 4px;
    background-color: #9941bf;
    border-radius: 1px;
    margin-top: .1rem;
    transition: width .2s ease;
}

#interface .cabecalho .menu li:hover a::after {
    width: 100%;
}
#interface .cabecalho .titles {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

#interface .cabecalho .titles .container-titles {
    border: 1pX solid yellow;
    width: 65%;
    margin: 0 0 0 auto;
}

#interface .cabecalho .titles .container-titles h1 {
    font-family: Roboto;
}



